automation/order-confirmation-workflow.json
{
  "name": "7alm — WhatsApp Order Confirmation Handler (Evolution API)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution-confirmation-webhook",
        "options": {
          "rawBody": false
        }
      },
      "id": "wa-confirm-trigger",
      "name": "Evolution API Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [-800, 200],
      "webhookId": "wa-confirm-trigger-webhook",
      "typeVersion": 1.1,
      "notes": "Listens for incoming WhatsApp messages from Evolution API (MESSAGES_UPSERT). This workflow only acts when the sender has an order awaiting confirmation AND the message clearly expresses acceptance or rejection in natural language — everything else is ignored so the main AI workflow can handle it."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "version": 2, "caseSensitive": true, "typeValidation": "strict" },
          "combinator": "and",
          "conditions": [
            {
              "id": "skip-from-me",
              "operator": { "type": "string", "operation": "notEquals" },
              "leftValue": "={{ String($json.body?.data?.key?.fromMe ?? $json.data?.key?.fromMe ?? false) }}",
              "rightValue": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "skip-own-messages",
      "name": "Skip Own Messages",
      "type": "n8n-nodes-base.if",
      "position": [-600, 200],
      "typeVersion": 2.2,
      "notes": "Filters out messages sent by the bot itself to prevent infinite loops."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-message-text",
              "name": "messageText",
              "type": "string",
              "value": "={{ $json.body?.data?.message?.conversation || $json.data?.message?.conversation || $json.body?.data?.message?.extendedTextMessage?.text || $json.data?.message?.extendedTextMessage?.text || '' }}"
            },
            {
              "id": "extract-sender",
              "name": "senderId",
              "type": "string",
              "value": "={{ ($json.body?.data?.key?.remoteJid || $json.data?.key?.remoteJid || '').replace('@s.whatsapp.net', '') }}"
            },
            {
              "id": "extract-phone",
              "name": "phone",
              "type": "string",
              "value": "={{ (($json.body?.data?.key?.remoteJid || $json.data?.key?.remoteJid || '').replace('@s.whatsapp.net', '').replace(/[^0-9]/g, '')).replace(/^20(?=1)/, '0') }}"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "extract-data-001",
      "name": "Extract Message Data",
      "type": "n8n-nodes-base.set",
      "position": [-400, 200],
      "typeVersion": 3.4,
      "notes": "Extracts the message text and sender, and normalizes the WhatsApp number (2010... -> 010...) to the 11-digit local format stored in the customers table."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "detect-intent",
              "name": "intent",
              "type": "string",
              "value": "={{ (() => { const t = ($json.messageText || '').toLowerCase().trim(); const cancel = /(إلغاء|الغاء|ألغي|الغي|كنسل|رفض|مش عايز|مش هاخد|cancel)/.test(t) || /(^|[ .,!؟?])(لا|لأ|no)([ .,!؟?]|$)/.test(t); const confirm = /(تأكيد|تاكيد|أكيد|اكيد|موافق|تمام|ماشي|اوكي|أوكي|okay|confirm|approve|ايوه|أيوه|ايوة|نعم|yes)/.test(t) || /(^|[ .,!؟?])(اه|آه|ok|اوك|أوك)([ .,!؟?]|$)/.test(t); return cancel ? 'cancel' : (confirm ? 'confirm' : 'none'); })() }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "detect-intent-001",
      "name": "Detect Intent",
      "type": "n8n-nodes-base.set",
      "position": [-200, 200],
      "typeVersion": 3.4,
      "notes": "Classifies the reply as confirm / cancel / none from natural language (Arabic and English acceptance or rejection words). Cancellation wins if both appear. Short ambiguous words (لا, اه, ok) only match as standalone words."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "version": 2, "caseSensitive": true, "typeValidation": "strict" },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-intent",
              "operator": { "type": "string", "operation": "notEquals" },
              "leftValue": "={{ $json.intent }}",
              "rightValue": "none"
            }
          ]
        },
        "options": {}
      },
      "id": "is-action-001",
      "name": "Is Order Action?",
      "type": "n8n-nodes-base.if",
      "position": [0, 200],
      "typeVersion": 2.2,
      "notes": "Only messages that clearly accept or reject continue. Everything else stops here (the main AI workflow answers those)."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://7alm-pro.up.railway.app/api/n8n/orders/awaiting-confirmation?phone={{ $('Extract Message Data').first().json.phone }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-access-token",
              "value": "123456"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "find-order-001",
      "name": "Find Awaiting Order",
      "type": "n8n-nodes-base.httpRequest",
      "position": [200, 200],
      "typeVersion": 4.2,
      "notes": "Looks up the sender's latest order with status 'approved' (awaiting customer confirmation) by phone number. 404 means no order is waiting — the message is ignored."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "version": 2, "caseSensitive": true, "typeValidation": "strict" },
          "combinator": "and",
          "conditions": [
            {
              "id": "order-found",
              "operator": { "type": "string", "operation": "equals" },
              "leftValue": "={{ $json.success === true && $json.data?.orderId ? 'yes' : 'no' }}",
              "rightValue": "yes"
            }
          ]
        },
        "options": {}
      },
      "id": "order-found-001",
      "name": "Order Found?",
      "type": "n8n-nodes-base.if",
      "position": [400, 200],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://7alm-pro.up.railway.app/api/webhooks/n8n/order-action?secret={{ $env.N8N_WEBHOOK_SECRET }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"orderId\": \"{{ $('Find Awaiting Order').first().json.data.orderId }}\",\n  \"action\": \"{{ $('Detect Intent').first().json.intent }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "call-api-001",
      "name": "Call 7alm API",
      "type": "n8n-nodes-base.httpRequest",
      "position": [600, 200],
      "typeVersion": 4.2,
      "notes": "Calls the 7alm backend to confirm or cancel the order. The backend handles shipping creation (for confirm) or stock restoration (for cancel)."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "version": 2, "caseSensitive": true, "typeValidation": "strict" },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-success",
              "operator": { "type": "string", "operation": "equals" },
              "leftValue": "={{ String($json.success ?? false) }}",
              "rightValue": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "check-success-001",
      "name": "API Success?",
      "type": "n8n-nodes-base.if",
      "position": [800, 200],
      "typeVersion": 2.2
    },
    {
      "parameters": {},
      "id": "noop-done-001",
      "name": "Done",
      "type": "n8n-nodes-base.noOp",
      "position": [1000, 100],
      "typeVersion": 1,
      "notes": "Customer messaging for confirmed/cancelled is handled by the Order Status Notifications workflow (triggered by the backend), avoiding duplicate WhatsApp messages."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-production-2b59.up.railway.app/message/sendText/mypersonal",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "8e7ccc10b8dc3c94a79fdaa90851096f7080b2f15ec928be9cc238aac08d8537"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Extract Message Data').first().json.senderId }}\",\n  \"text\": \"عذراً، حصل خطأ أثناء معالجة ردك 😔\\n\\nبرجاء التواصل معانا وهنساعدك فوراً.\\nمتجر حلم في خدمتك 🙏\"\n}",
        "options": {}
      },
      "id": "wa-error-reply",
      "name": "WA: Error Reply",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1000, 300],
      "typeVersion": 4.2,
      "notes": "Sends an error message via Evolution API sendText endpoint when the order action fails."
    }
  ],
  "connections": {
    "Evolution API Webhook": {
      "main": [
        [
          { "node": "Skip Own Messages", "type": "main", "index": 0 }
        ]
      ]
    },
    "Skip Own Messages": {
      "main": [
        [
          { "node": "Extract Message Data", "type": "main", "index": 0 }
        ]
      ]
    },
    "Extract Message Data": {
      "main": [
        [
          { "node": "Detect Intent", "type": "main", "index": 0 }
        ]
      ]
    },
    "Detect Intent": {
      "main": [
        [
          { "node": "Is Order Action?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Is Order Action?": {
      "main": [
        [
          { "node": "Find Awaiting Order", "type": "main", "index": 0 }
        ]
      ]
    },
    "Find Awaiting Order": {
      "main": [
        [
          { "node": "Order Found?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Order Found?": {
      "main": [
        [
          { "node": "Call 7alm API", "type": "main", "index": 0 }
        ]
      ]
    },
    "Call 7alm API": {
      "main": [
        [
          { "node": "API Success?", "type": "main", "index": 0 }
        ]
      ]
    },
    "API Success?": {
      "main": [
        [
          { "node": "Done", "type": "main", "index": 0 }
        ],
        [
          { "node": "WA: Error Reply", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "7alm-order-confirmation"
  }
}
