automation/order-notifications-workflow.json
{
  "name": "7alm — Order Status Notifications (Evolution Plugin)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "order-status-changed",
        "options": {
          "rawBody": false
        },
        "responseMode": "onReceived"
      },
      "id": "order-webhook-001",
      "name": "Order Status Changed",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -800,
        200
      ],
      "webhookId": "order-status-webhook",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "validate-phone",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.body.customerPhone }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "validate-001",
      "name": "Has Phone Number?",
      "type": "n8n-nodes-base.if",
      "position": [
        -540,
        200
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "format-phone",
              "name": "formattedPhone",
              "type": "string",
              "value": "={{ $json.body.customerPhone.startsWith('2') ? $json.body.customerPhone : '2' + $json.body.customerPhone }}"
            },
            {
              "id": "pass-order-id",
              "name": "orderId",
              "type": "string",
              "value": "={{ $json.body.orderId }}"
            },
            {
              "id": "pass-status",
              "name": "newStatus",
              "type": "string",
              "value": "={{ $json.body.newStatus }}"
            },
            {
              "id": "pass-name",
              "name": "customerName",
              "type": "string",
              "value": "={{ $json.body.customerName }}"
            },
            {
              "id": "pass-product",
              "name": "productName",
              "type": "string",
              "value": "={{ $json.body.productName || 'طلبك' }}"
            },
            {
              "id": "pass-tracking",
              "name": "trackingId",
              "type": "string",
              "value": "={{ $json.body.trackingId || '' }}"
            },
            {
              "id": "pass-total",
              "name": "totalPrice",
              "type": "number",
              "value": "={{ $json.body.totalPrice || 0 }}"
            },
            {
              "id": "pass-quantity",
              "name": "quantity",
              "type": "number",
              "value": "={{ $json.body.quantity || 1 }}"
            },
            {
              "id": "pass-items",
              "name": "items",
              "type": "array",
              "value": "={{ $json.body.items }}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-data-001",
      "name": "Format Notification Data",
      "type": "n8n-nodes-base.set",
      "position": [
        -280,
        200
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "status-approved",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.newStatus }}",
                    "rightValue": "approved"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Approved"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "status-confirmed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.newStatus }}",
                    "rightValue": "confirmed"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Confirmed"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "status-shipped",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.newStatus }}",
                    "rightValue": "shipped"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Shipped"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "status-delivered",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.newStatus }}",
                    "rightValue": "delivered"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Delivered"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "status-cancelled",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.newStatus }}",
                    "rightValue": "cancelled"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Cancelled"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "switch-status-001",
      "name": "Route by Status",
      "type": "n8n-nodes-base.switch",
      "position": [
        0,
        200
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution-go-production-b756.up.railway.app/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "9c48d297-d566-49cc-8266-7fc8a202cb8f"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.formattedPhone }}"
            },
            {
              "name": "text",
              "value": "=مرحباً {{ $json.customerName }} 👋\n\nتم قبول طلبك من متجر حلم! 🎉\n\n{{ $json.items.map(i => '📦 ' + i.productName + ' × ' + i.quantity).join('\\n') }}\n💰 المبلغ: {{ $json.totalPrice }} جنيه\n🔖 رقم الطلب: {{ $json.orderId.substring(0, 8) }}\n\nلتأكيد الطلب ✅ اكتب: تأكيد  (أو أرسل 1)\nلإلغاء الطلب ❌ اكتب: إلغاء  (أو أرسل 2)"
            }
          ]
        },
        "options": {}
      },
      "id": "wa-approved-001",
      "name": "WA: Order Approved",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        340,
        -80
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution-go-production-b756.up.railway.app/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "9c48d297-d566-49cc-8266-7fc8a202cb8f"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.formattedPhone }}"
            },
            {
              "name": "text",
              "value": "=مرحباً {{ $json.customerName }} 🎉\n\nشكراً لتأكيد طلبك!\n\n{{ $json.items.map(i => '📦 ' + i.productName + ' × ' + i.quantity).join('\\n') }}\n💰 المبلغ: {{ $json.totalPrice }} جنيه\n🔖 رقم الطلب: {{ $json.orderId.substring(0, 8) }}\n\nجاري تجهيز الشحنة وهنبعتلك رقم التتبع قريب إن شاء الله.\nشكراً لثقتك في متجر حلم! 🙏"
            }
          ]
        },
        "options": {}
      },
      "id": "wa-confirmed-001",
      "name": "WA: Order Confirmed",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        340,
        60
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution-go-production-b756.up.railway.app/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "9c48d297-d566-49cc-8266-7fc8a202cb8f"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.formattedPhone }}"
            },
            {
              "name": "text",
              "value": "=مرحباً {{ $json.customerName }} 🚚\n\nطلبك في الطريق إليك!\n\n{{ $json.items.map(i => '📦 ' + i.productName + ' × ' + i.quantity).join('\\n') }}\n🔖 رقم الطلب: {{ $json.orderId.substring(0, 8) }}{{ $json.trackingId ? '\\n📍 رقم التتبع: ' + $json.trackingId : '' }}\n\nيمكنك متابعة حالة التوصيل من خلال رقم التتبع.\nشكراً لصبرك! 😊"
            }
          ]
        },
        "options": {}
      },
      "id": "wa-shipped-001",
      "name": "WA: Order Shipped",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        340,
        200
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution-go-production-b756.up.railway.app/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "9c48d297-d566-49cc-8266-7fc8a202cb8f"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.formattedPhone }}"
            },
            {
              "name": "text",
              "value": "=مرحباً {{ $json.customerName }} 🎉\n\nتم توصيل طلبك بنجاح!\n\n{{ $json.items.map(i => '📦 ' + i.productName + ' × ' + i.quantity).join('\\n') }}\n🔖 رقم الطلب: {{ $json.orderId.substring(0, 8) }}\n\nنتمنى إن المنتج يعجبك! لو عندك أي استفسار متترددش تتواصل معانا.\nشكراً لتسوقك من متجر حلم! ⭐"
            }
          ]
        },
        "options": {}
      },
      "id": "wa-delivered-001",
      "name": "WA: Order Delivered",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        340,
        360
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution-go-production-b756.up.railway.app/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "9c48d297-d566-49cc-8266-7fc8a202cb8f"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.formattedPhone }}"
            },
            {
              "name": "text",
              "value": "=مرحباً {{ $json.customerName }} 🌟\n\nنتمنى إنك استمتعت بـ {{ $json.productName }}!\n\nرأيك يهمنا جدًا ويساعد عملاء تانيين يقرروا صح 🙏{{ $json.reviewUrl ? '\\n\\nقيّم المنتج من هنا: ' + $json.reviewUrl : '' }}\n\nشكراً لثقتك في متجر حلم! 💙"
            }
          ]
        },
        "options": {}
      },
      "id": "wa-review-request-001",
      "name": "WA: Review Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        620,
        360
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution-go-production-b756.up.railway.app/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "9c48d297-d566-49cc-8266-7fc8a202cb8f"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.formattedPhone }}"
            },
            {
              "name": "text",
              "value": "=مرحباً {{ $json.customerName }}\n\nتم إلغاء طلبك.\n\n{{ $json.items.map(i => '📦 ' + i.productName + ' × ' + i.quantity).join('\\n') }}\n🔖 رقم الطلب: {{ $json.orderId.substring(0, 8) }}\n\nلو عندك أي استفسار عن سبب الإلغاء، تواصل معانا وهنساعدك فوراً.\nمتجر حلم دايمًا في خدمتك 🙏"
            }
          ]
        },
        "options": {}
      },
      "id": "wa-cancelled-001",
      "name": "WA: Order Cancelled",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        340,
        540
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fallback-log",
              "name": "info",
              "type": "string",
              "value": "={{ 'Status \"' + $json.newStatus + '\" does not trigger a WhatsApp notification' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "no-notification-001",
      "name": "No Notification Needed",
      "type": "n8n-nodes-base.set",
      "position": [
        340,
        720
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "skip-log",
              "name": "error",
              "type": "string",
              "value": "No phone number provided — cannot send WhatsApp notification"
            }
          ]
        },
        "options": {}
      },
      "id": "no-phone-001",
      "name": "No Phone — Skip",
      "type": "n8n-nodes-base.set",
      "position": [
        -280,
        400
      ],
      "typeVersion": 3.4
    }
  ],
  "connections": {
    "Order Status Changed": {
      "main": [
        [
          {
            "node": "Has Phone Number?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Phone Number?": {
      "main": [
        [
          {
            "node": "Format Notification Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Phone — Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Notification Data": {
      "main": [
        [
          {
            "node": "Route by Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Status": {
      "main": [
        [
          {
            "node": "WA: Order Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WA: Order Confirmed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WA: Order Shipped",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WA: Order Delivered",
            "type": "main",
            "index": 0
          },
          {
            "node": "WA: Review Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WA: Order Cancelled",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Notification Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "7alm-order-notifications"
  }
}