automation/whatsapp-ai-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution-whatsapp-webhook",
        "options": {
          "rawBody": false
        }
      },
      "id": "8a985114-86a6-4c6c-bb74-dfa711bad58e",
      "name": "Evolution API Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -5136,
        -128
      ],
      "webhookId": "wa-trigger-webhook",
      "typeVersion": 1.1,
      "notes": "Receives incoming WhatsApp events from Evolution API. Configure Evolution API to send messages.upsert events to this webhook URL."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "skip-from-me",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "leftValue": "={{ String($json.body?.data?.Info?.IsFromMe ?? $json.data?.Info?.IsFromMe ?? false) }}",
              "rightValue": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "7ecb4ff8-9d11-4c86-93bd-1bab328ede2e",
      "name": "Skip Own Messages",
      "type": "n8n-nodes-base.if",
      "position": [
        -4896,
        -128
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "is-message",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.body?.event || $json.event || 'Message' }}",
                    "rightValue": "Message"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "is-status",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.body?.event || $json.event || '' }}",
                    "rightValue": "Receipt"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Status"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "is-buttonclick",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.body?.event || $json.event || '' }}",
                    "rightValue": "ButtonClick"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "ButtonClick"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "cdcf152c-0fe1-421f-83f2-33c98d8be9e6",
      "name": "Event Type Router",
      "type": "n8n-nodes-base.switch",
      "position": [
        -4656,
        -128
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "status-log",
              "name": "info",
              "type": "string",
              "value": "={{ 'Event: ' + ($json.body?.event || $json.event || 'unknown') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dc5c0342-52bb-48d5-9810-73e289d82052",
      "name": "Status Logger",
      "type": "n8n-nodes-base.set",
      "position": [
        -4416,
        64
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wa-sender-id",
              "name": "senderId",
              "type": "string",
              "value": "={{ ($json.body?.data?.Info?.Chat || $json.data?.Info?.Chat || '').replace('@s.whatsapp.net', '') }}"
            },
            {
              "id": "wa-message-text",
              "name": "messageText",
              "type": "string",
              "value": "={{ $json.body?.data?.Message?.conversation || $json.data?.Message?.conversation || $json.body?.data?.Message?.extendedTextMessage?.text || $json.data?.Message?.extendedTextMessage?.text || '' }}"
            },
            {
              "id": "wa-instance-name",
              "name": "instanceName",
              "type": "string",
              "value": "={{ $json.body?.instanceName || $json.instanceName || '' }}"
            },
            {
              "id": "wa-platform",
              "name": "platform",
              "type": "string",
              "value": "whatsapp"
            },
            {
              "id": "wa-message-type",
              "name": "messageType",
              "type": "string",
              "value": "message"
            },
            {
              "id": "wa-push-name",
              "name": "pushName",
              "type": "string",
              "value": "={{ $json.body?.data?.Info?.PushName || $json.data?.Info?.PushName || '' }}"
            },
            {
              "id": "wa-phone",
              "name": "phone",
              "type": "string",
              "value": "={{ (($json.body?.data?.Info?.Chat || $json.data?.Info?.Chat || '').replace('@s.whatsapp.net', '').replace(/[^0-9]/g, '')).replace(/^20(?=1)/, '0') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ef30844f-29b3-448c-8d53-9dd73ff489cd",
      "name": "Normalize WhatsApp",
      "type": "n8n-nodes-base.set",
      "position": [
        -4416,
        -128
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://7alm-pro.up.railway.app/api/webhooks/whatsapp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-webhook-secret",
              "value": "123456"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'message', phone: $('Normalize WhatsApp').first().json.senderId, body: $('Normalize WhatsApp').first().json.messageText, evolutionMessageId: $('Evolution API Webhook').first().json.body?.data?.Info?.ID || '', mediaUrl: null, mediaType: $('Evolution API Webhook').first().json.body?.data?.Info?.MediaType || null }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "0864b734-ccc4-4ff5-bb43-f97f1a328207",
      "name": "CRM Logger",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -4176,
        -128
      ],
      "typeVersion": 4.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "detect-intent",
              "name": "intent",
              "type": "string",
              "value": "={{ (() => { const t = ($json.messageText || $('Normalize WhatsApp').first().json.messageText || '').toLowerCase().trim(); const cancel = /(إلغاء|الغاء|ألغي|الغي|كنسل|رفض|مش عايز|مش هاخد|cancel)/.test(t) || /(^|[ .,!؟?])(لا|لأ|no)([ .,!؟?]|$)/.test(t); const confirm = /(تأكيد|تاكيد|أكيد|اكيد|موافق|تمام|ماشي|اوكي|أوكي|okay|confirm|approve|ايوه|أيوه|ايوة|نعم|yes)/.test(t) || /(^|[ .,!؟?])(اه|آه|ok|اوك|أوك)([ .,!؟?]|$)/.test(t); return cancel ? 'cancel' : (confirm ? 'confirm' : 'none'); })() }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "dad88d74-eff2-457c-b917-63cca38bfdc2",
      "name": "Detect Intent",
      "type": "n8n-nodes-base.set",
      "position": [
        -3936,
        -128
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-intent",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "leftValue": "={{ $json.intent }}",
              "rightValue": "none"
            }
          ]
        },
        "options": {}
      },
      "id": "fcdaee26-a0c0-4f50-b07f-d4cc1ec8e463",
      "name": "Is Order Action?",
      "type": "n8n-nodes-base.if",
      "position": [
        -3696,
        -128
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "url": "=https://7alm-pro.up.railway.app/api/n8n/orders/awaiting-confirmation?phone={{ $('Normalize WhatsApp').first().json.phone }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-access-token",
              "value": "=123456"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "87091e93-0491-42f0-abf4-d27fbb740181",
      "name": "Find Awaiting Order",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -3456,
        -288
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "order-found",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.success === true && $json.data?.orderId ? 'yes' : 'no' }}",
              "rightValue": "yes"
            }
          ]
        },
        "options": {}
      },
      "id": "b1dd4fd7-b0c3-439f-be5b-e732aa561752",
      "name": "Order Found?",
      "type": "n8n-nodes-base.if",
      "position": [
        -3216,
        -288
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://7alm-pro.up.railway.app/api/webhooks/n8n/order-action?secret=123456",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"orderId\": \"{{ $('Find Awaiting Order').first().json.data.orderId }}\",\n  \"action\": \"{{ $('Detect Intent').first().json.intent }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "75fb27ed-bfbc-494d-9aa3-473558bae22b",
      "name": "Call 7alm API",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -3088,
        -624
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-success",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ String($json.success ?? false) }}",
              "rightValue": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "4fd1e499-9377-4212-b722-adee45966981",
      "name": "API Success?",
      "type": "n8n-nodes-base.if",
      "position": [
        -2896,
        -448
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {},
      "id": "9dfc1d9c-54d7-45b5-9256-65b2f8bffbbd",
      "name": "Done (Order Handled)",
      "type": "n8n-nodes-base.noOp",
      "position": [
        -2512,
        -528
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution-go-production-b756.up.railway.app/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "9c48d297-d566-49cc-8266-7fc8a202cb8f"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Normalize WhatsApp').first().json.senderId }}"
            },
            {
              "name": "text",
              "value": "عذراً، حصل خطأ أثناء معالجة ردك 😔\n\nبرجاء التواصل معانا وهنساعدك فوراً.\nمتجر حلم في خدمتك 🙏"
            }
          ]
        },
        "options": {}
      },
      "id": "2001106a-b5e6-4af4-941b-d9ef245eda44",
      "name": "WA: Error Reply",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -2480,
        -368
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "filter-empty",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $('Normalize WhatsApp').first().json.messageText }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "138750a8-3d32-40fd-b31a-eab18046a10b",
      "name": "Skip Empty Messages",
      "type": "n8n-nodes-base.if",
      "position": [
        -3456,
        64
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "url": "https://7alm-pro.up.railway.app/api/n8n/products/active",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-n8n-access-token",
              "value": "=123456"
            }
          ]
        },
        "options": {}
      },
      "id": "1b23366b-3836-4551-a20f-82a7e2dec474",
      "name": "Load Active Product Context",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -3216,
        64
      ],
      "typeVersion": 4.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://7alm-pro.up.railway.app/api/n8n/zones",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-n8n-access-token",
              "value": "=123456"
            }
          ]
        },
        "options": {}
      },
      "id": "256c6943-96b9-4a64-b38c-aa1ccbcfdf38",
      "name": "Load Zones Context",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -2976,
        64
      ],
      "typeVersion": 4.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Normalize WhatsApp').first().json.messageText }}",
        "options": {
          "systemMessage": "=أنت «حلم»، موظف مبيعات وخدمة عملاء في متجر حلم المصري على واتساب. اتكلم بالعربي المصري الطبيعي، بود واحترام.\n\n## القاعدة الأهم — ممنوع إنشاء طلب ببيانات ناقصة\nأداة create_order ليها شرطان لازم يتحققوا الاتنين مع بعض قبل أي استدعاء:\n1) كل بنود «قائمة التحقق الإجبارية» أدناه مكتملة من كلام العميل نفسه.\n2) العميل شاف رسالة الملخص النهائي ورد عليها بموافقة صريحة.\n\n## سياق المنتجات\nالقائمة التالية جاية مباشرة من المتجر وهي المصدر الوحيد لأي معلومة عن المنتجات:\n{{ JSON.stringify($('Load Active Product Context').first().json.data ?? []) }}\n\nافهم حقل availability في كل منتج:\n- availability.can_order: لو false يبقى المنتج مش متاح خالص — ما تعرضهوش للبيع، ما تشاركش رابطه، وممنوع تستخدم create_order له نهائيًا. اعتذر للعميل بلطف وقوله إنه مش متوفر حاليًا.\n- availability.status: حالة المخزون (in_stock / low_stock / out_of_stock).\n- availability.available_quantity: الكمية المتاحة فعليًا؛ لو العميل طلب كمية أكبر منها، وضّح له إن الكمية المتاحة أقل واسأله يعدّل الكمية قبل ما تكمل معاه.\n\n## سياق المناطق\n{{ JSON.stringify($json.data ?? []) }}\n\n## خطوات البيع\n1. اعرض المنتجات وجاوب أسئلة العميل، وشارك رابط المنتج: https://7alm-pro.up.railway.app/{slug}?utm_source=whatsapp\n2. لا تطلب بيانات التوصيل إلا لو العميل طلب صراحة يعمل الطلب من الشات.\n3. اجمع: الاسم الكامل، رقم الموبايل، المنطقة، العنوان التفصيلي.\n4. ابعت ملخص واسأل عن التأكيد.\n5. بعد الموافقة الصريحة استدعِ create_order.\n\n## قائمة التحقق الإجبارية\n- product_id: من قائمة المنتجات، بشرط availability.can_order = true؛ لو false امتنع تمامًا عن العرض والبيع وإنشاء الطلب.\n- quantity: رقم صحيح موجب، ولازم يكون أقل من أو يساوي availability.available_quantity؛ لو أكبر وضّح للعميل الحد الأقصى المتاح.\n- full_name: اسمين على الأقل.\n- phone: 11 رقم يبدأ بـ 01.\n- zone_id: UUID من قائمة المناطق.\n- street_details: عنوان تفصيلي.\n- الموافقة الصريحة بعد الملخص.\n\n## أسلوب المحادثة\n- رد في 1 إلى 3 جمل قصيرة.\n- الدفع عند الاستلام.\n- التوصيل داخل مصر.\n- لا تقول إنك ذكاء اصطناعي."
        }
      },
      "id": "ffb2735d-19d9-49fd-b02d-9bce14b19e40",
      "name": "7alm AI Agent (WhatsApp)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -2736,
        64
      ],
      "typeVersion": 1.6,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const CREDIT_RE = /(^|[^0-9])402([^0-9]|$)|credit|quota|insufficient|payment|billing|exceeded/;\nconst MSG = {\n  credit: 'معلش يا فندم، الخدمة عندنا واقفة مؤقتًا 🙏 هنرجع نرد عليك في أقرب وقت.',\n  transient: 'حصل خلل بسيط عندنا دلوقتي، ممكن تبعت رسالتك تاني بعد شوية؟ 🙏'\n};\nlet items = [];\ntry { items = $input.all(); } catch (e) { items = []; }\nif (!items.length) items = [{ json: {} }];\nreturn items.map((item) => {\n  let failureClass = 'transient';\n  let haystack = '';\n  try { haystack += JSON.stringify(item.json ?? {}); } catch (e) {}\n  try { haystack += ' ' + JSON.stringify(item.error ?? {}); } catch (e) {}\n  try { if (CREDIT_RE.test(haystack.toLowerCase())) failureClass = 'credit'; } catch (e) {}\n  return { json: { output: MSG[failureClass], aiFailed: true, failureClass } };\n});\n"
      },
      "id": "2deca5af-a0b2-48be-a082-ca4353f80210",
      "name": "Classify AI Failure",
      "type": "n8n-nodes-base.code",
      "position": [
        -2400,
        224
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution-go-production-b756.up.railway.app/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "9c48d297-d566-49cc-8266-7fc8a202cb8f"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Normalize WhatsApp').first().json.senderId }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "96839ea6-d6e6-4b39-bd55-2b3d1339983f",
      "name": "Reply via WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -2096,
        64
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -2784,
        352
      ],
      "id": "ee4e55b4-bd66-4089-9041-8f63aa59da6d",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "EbbUdiq5aCjllGWD",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ 'whatsapp_' + ($('Normalize WhatsApp').first().json.instanceName || 'main') + '_' + $('Normalize WhatsApp').first().json.senderId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.1,
      "position": [
        -2640,
        352
      ],
      "id": "dd50ab8b-a375-4bd0-ae3a-5e805e34e0d1",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "WDgd4L5tJTJltBqH",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Creates a customer order. Call ONLY when ALL checklist items are confirmed.",
        "method": "POST",
        "url": "https://7alm-pro.up.railway.app/api/n8n/orders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-access-token",
              "value": "=123456"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"full_name\": {{ JSON.stringify($fromAI('full_name', 'Customer full name', 'string')) }},\n  \"phone\": {{ JSON.stringify($fromAI('phone', '11-digit Egyptian mobile starting with 01', 'string')) }},\n  \"zone_id\": {{ JSON.stringify($fromAI('zone_id', 'Exact zone UUID from zones list', 'string')) }},\n  \"street_details\": {{ JSON.stringify($fromAI('street_details', 'Full street address', 'string')) }},\n  \"product_id\": {{ JSON.stringify($fromAI('product_id', 'Product id from products context', 'string')) }},\n  \"quantity\": {{ $fromAI('quantity', 'Positive integer quantity', 'number') }},\n  \"platform_source\": \"whatsapp\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        -2512,
        368
      ],
      "id": "f7220510-f958-4f66-b914-79bb4bfb3556",
      "name": "Create Order"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-crm-send",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "130a47c3-d002-4437-84f8-c9d844c1990d",
      "name": "CRM Send Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -5136,
        464
      ],
      "webhookId": "wa-crm-send-webhook",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "validate-secret",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.headers['x-n8n-send-secret'] }}",
              "rightValue": "123456"
            }
          ]
        },
        "options": {}
      },
      "id": "e0c829fb-3afe-4c5d-9750-f1b9acfcee19",
      "name": "Validate Send Secret",
      "type": "n8n-nodes-base.if",
      "position": [
        -4896,
        464
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution-go-production-b756.up.railway.app/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "9c48d297-d566-49cc-8266-7fc8a202cb8f"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.body.phone }}"
            },
            {
              "name": "text",
              "value": "={{ $json.body.body }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ed171b9e-c039-4293-a66c-3c0aeb2a8afe",
      "name": "CRM: Send via WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -4656,
        368
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ messageId: $json.data?.key?.id || $json.key?.id || 'sent', status: 'sent' }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "fac9a778-bd85-4059-a0c3-76ce8da06ce1",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        -4416,
        368
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: 'Unauthorized' }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "eba0cd1b-9cef-48e1-aec6-c2ad698c8242",
      "name": "Respond Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        -4656,
        592
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bc-phone",
              "name": "phone",
              "type": "string",
              "value": "={{ (($json.body?.data?.chat || $json.data?.chat || $json.body?.data?.phone || $json.data?.phone || '').replace('@s.whatsapp.net', '').replace(/[^0-9]/g, '')).replace(/^20(?=1)/, '0') }}"
            },
            {
              "id": "bc-sender-id",
              "name": "senderId",
              "type": "string",
              "value": "={{ ($json.body?.data?.chat || $json.data?.chat || $json.body?.data?.phone || $json.data?.phone || '').replace('@s.whatsapp.net', '') }}"
            },
            {
              "id": "bc-button-id",
              "name": "buttonId",
              "type": "string",
              "value": "={{ $json.body?.data?.buttonId || $json.data?.buttonId || '' }}"
            },
            {
              "id": "bc-intent",
              "name": "intent",
              "type": "string",
              "value": "={{ (($json.body?.data?.buttonId || $json.data?.buttonId) === 'cancel_order') ? 'cancel' : ((($json.body?.data?.buttonId || $json.data?.buttonId) === 'confirm_order') ? 'confirm' : 'none') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d911ab19-f2fa-4f7a-95ba-f1a791b1818b",
      "name": "Normalize Button Click",
      "type": "n8n-nodes-base.set",
      "position": [
        -3696,
        300
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "url": "=https://7alm-pro.up.railway.app/api/n8n/orders/awaiting-confirmation?phone={{ $('Normalize Button Click').first().json.phone }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-access-token",
              "value": "=123456"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "ef28cdb8-ccf8-468f-82f3-0431a4f2086e",
      "name": "Find Awaiting Order (Button)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -3456,
        300
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "order-found-btn",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.success === true && $json.data?.orderId ? 'yes' : 'no' }}",
              "rightValue": "yes"
            }
          ]
        },
        "options": {}
      },
      "id": "5af0155f-7453-4003-96b2-f964b26b427c",
      "name": "Order Found? (Button)",
      "type": "n8n-nodes-base.if",
      "position": [
        -3216,
        300
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://7alm-pro.up.railway.app/api/webhooks/n8n/order-action?secret=123456",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"orderId\": \"{{ $('Find Awaiting Order (Button)').first().json.data.orderId }}\",\n  \"action\": \"{{ $('Normalize Button Click').first().json.intent }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "8f3f12ab-d7b1-4c49-9b0f-500cb401132d",
      "name": "Call 7alm API (Button)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -3088,
        300
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-success-btn",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ String($json.success ?? false) }}",
              "rightValue": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "20e2d557-f1db-4579-83d5-df826c5d3818",
      "name": "API Success? (Button)",
      "type": "n8n-nodes-base.if",
      "position": [
        -2896,
        300
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution-go-production-b756.up.railway.app/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "9c48d297-d566-49cc-8266-7fc8a202cb8f"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Normalize Button Click').first().json.senderId }}"
            },
            {
              "name": "text",
              "value": "عذراً، حصل خطأ أثناء معالجة ردك 😔\n\nبرجاء التواصل معانا وهنساعدك فوراً.\nمتجر حلم في خدمتك 🙏"
            }
          ]
        },
        "options": {}
      },
      "id": "e345535a-b21f-46b3-b038-ca4e16b0ee26",
      "name": "WA: Error Reply (Button)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -2480,
        400
      ],
      "typeVersion": 4.2
    }
  ],
  "connections": {
    "Evolution API Webhook": {
      "main": [
        [
          {
            "node": "Skip Own Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Own Messages": {
      "main": [
        [
          {
            "node": "Event Type Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Event Type Router": {
      "main": [
        [
          {
            "node": "Normalize WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Status Logger",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize Button Click",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize WhatsApp": {
      "main": [
        [
          {
            "node": "CRM Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM Logger": {
      "main": [
        [
          {
            "node": "Detect Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Intent": {
      "main": [
        [
          {
            "node": "Is Order Action?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Order Action?": {
      "main": [
        [
          {
            "node": "Find Awaiting Order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Empty Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Awaiting Order": {
      "main": [
        [
          {
            "node": "Order Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Order Found?": {
      "main": [
        [
          {
            "node": "Call 7alm API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Empty Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 7alm API": {
      "main": [
        [
          {
            "node": "API Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Success?": {
      "main": [
        [
          {
            "node": "Done (Order Handled)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WA: Error Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Empty Messages": {
      "main": [
        [
          {
            "node": "Load Active Product Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Active Product Context": {
      "main": [
        [
          {
            "node": "Load Zones Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Zones Context": {
      "main": [
        [
          {
            "node": "7alm AI Agent (WhatsApp)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7alm AI Agent (WhatsApp)": {
      "main": [
        [
          {
            "node": "Reply via WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Classify AI Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify AI Failure": {
      "main": [
        [
          {
            "node": "Reply via WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "7alm AI Agent (WhatsApp)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "7alm AI Agent (WhatsApp)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create Order": {
      "ai_tool": [
        [
          {
            "node": "7alm AI Agent (WhatsApp)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CRM Send Webhook": {
      "main": [
        [
          {
            "node": "Validate Send Secret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Send Secret": {
      "main": [
        [
          {
            "node": "CRM: Send via WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM: Send via WhatsApp": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Button Click": {
      "main": [
        [
          {
            "node": "Find Awaiting Order (Button)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Awaiting Order (Button)": {
      "main": [
        [
          {
            "node": "Order Found? (Button)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Order Found? (Button)": {
      "main": [
        [
          {
            "node": "Call 7alm API (Button)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WA: Error Reply (Button)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 7alm API (Button)": {
      "main": [
        [
          {
            "node": "API Success? (Button)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Success? (Button)": {
      "main": [
        [
          {
            "node": "Done (Order Handled)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WA: Error Reply (Button)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c31f5ec5b1eee1ec799e27877c1321810ce9d2d5d1a612b4595d3912ef083f88"
  }
}